* {
    box-sizing: border-box;
}
body {
    font-family: sans-serif;
}
/* Keep it simple - improvement would be to not display characters */
 .letter {
    display: inline-block;
    list-style: none;
    width: 20px;
    margin: 0 5px;
    border-bottom: 1px solid black;
    text-align: center;
    color: white;
}
#guess{
    background-color: #4CAF50;
  border: none;
  color: white;
  padding: 7px 25px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}
.current-word {
    list-style: none;
}
.output {
    opacity: 0;
    transition: opacity 1s ease;
}
.correct {
    background-color: green;
    transition: all 1s ease;
}
.error {
    color: red;
    opacity: 1;
}
.warning {
    color: orange;
    opacity: 1;
}
.win {
    color: green;
    opacity: 1;
}